<header class="header">
  <div class="container">
    <a href="./" class="logo-link">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="/img/logo.png 1x, /img/logo@2x.png 2x"
          type="image/png"
        />
        <source
          srcset="/img/logo-mobile.png 1x, /img/logo-mobile@2x.png 2x"
          type="image/png"
        />
        <img
          class="logo-img"
          src="/img/logo-mobile.png"
          alt="Maze Classic Logo"
          width="113"
          height="43"
        />
      </picture>
    </a>
    <button class="btn-burger" type="button" data-menu-open>
      <svg class="btn-burger-icon">
        <use href="/sprite.svg#icon-burger"></use>
      </svg>
    </button>
    <nav class="navigation">
      <ul class="list-navigation">
        <li class="item-navigation">
          <a href="#" class="item-nav-link">Home</a>
        </li>
        <li class="item-navigation">
          <a href="#gameplay" class="item-nav-link">Gameplay</a>
        </li>
        <li class="item-navigation">
          <a href="#" class="item-nav-link">Modes</a>
        </li>
        <li class="item-navigation">
          <a href="#" class="item-nav-link">Features</a>
        </li>
        <li class="item-navigation">
          <a href="#" class="item-nav-link">Reviews</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
