<div class="mobile-menu" data-visible="close">
  <div class="container">
    <button class="mm-close-btn" type="button" data-menu-close>
      <svg class="btn-close-icon">
        <use href="/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="mm-list-navigation" data-menu-navigation>
      <li class="mm-item-navigation">
        <a href="#" class="mm-item-nav-link">Home</a>
      </li>
      <li class="mm-item-navigation">
        <a href="#gameplay" class="mm-item-nav-link">Gameplay</a>
      </li>
      <li class="mm-item-navigation">
        <a href="#" class="mm-item-nav-link">Modes</a>
      </li>
      <li class="mm-item-navigation">
        <a href="#" class="mm-item-nav-link">Features</a>
      </li>
      <li class="mm-item-navigation">
        <a href="#" class="mm-item-nav-link">Reviews</a>
      </li>
    </ul>
  </div>
</div>
